package $package;


import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertTrue;

import java.util.Scanner;

import org.junit.jupiter.api.Test;

class $ClassName {

	@Test
	void testU2L06() {
		// https://resources.coderscampus.com/docs/drills/U2L06/ for detailed instructions
		boolean $two = true & true & true;
		boolean $four = true & true & false;
		boolean $six = false | true;
		boolean $eight = 24 * 3 - 17 == 42;


//		assertEquals($one, $two);
//		assertEquals($three, $four);
//		assertEquals($five, $six);
//		assertEquals($seven, $eight);
	}

}
