package $package;


import static org.junit.jupiter.api.Assertions.assertEquals;
import static org.junit.jupiter.api.Assertions.assertTrue;

import java.util.Scanner;

import org.junit.jupiter.api.Test;

class $ClassName {

	@Test
	void testU3L10() {
		// DECLARE VARIABLES HERE, AS NECESSARY TO make the lines below pass the test
		
		assertTrue(Integer.class.isInstance($one));
		assertEquals(minInt, Integer.MIN_VALUE);
	}

}
